---
services: docker

# Ensure Docker is up to date
before_install:
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

# Build it, use it... break it?
script:
  - make all

notifications:
  webhooks:
    if: branch = master
    on_success: always
    on_failure: never
    url:
      - https://hub.docker.com/api/build/v1/source/$DOCKER_WEBHOOK_SOURCE/trigger/$DOCKER_WEBHOOK_TRIGGER/call/